.title-group {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.connection-input{
    display: flex;
    flex-direction: column;
    
}

input {
    margin-top: 1%;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    border-width: 3px;
    padding: 8px;
}

label {
    margin-top: 3%;
    text-align: center;
}

#succes{
    color: red;
}

#failure{
    color: green;
}